.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container--button {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 36px;
  padding: 8px 30px;
  cursor: pointer;
}

.header__container--button:hover {
  background-color: #f4f4f4;
  transition: 0.3s;
}
