* {
  text-align: center;
}

.wrapper {
  padding: 0px 333px;
  background-color: #fafafa;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 30px;
  margin: 60px 0px 24px;
}

.total__price {
  margin: '24px 0 0';
}

.discount__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.discount.valid {
  color: green;
}

.discount.error {
  color: red;
}

.discount__img {
  background-color: transparent;
  max-width: 100%;
  height: auto;
  padding: 10px;
  cursor: pointer;
}
